In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(host = "127.0.0.1",
                               user ="root",
                               password ="Admin@123",
                               database = "red_bus",
                               )

cursor = conn.cursor()

In [ ]:
create_table_query = """CREATE TABLE bus_info_NEW (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state TEXT,
    route_name TEXT,
    route_link TEXT,
    busname TEXT,
    bustype TEXT,
    departing_time DATETIME,
    duration TEXT,
    reaching_time DATETIME,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
);
"""

cursor.execute(create_table_query)
conn.commit()

In [14]:
select_query = """SELECT * FROM bus_info_new ;"""

cursor.execute(select_query)
results = cursor.fetchall()

In [15]:
import pandas as pd
column_names = ['ID', 'state', 'route_name', 'route_link', 'busname', 'bustype', 'departing_time', 'duration', 'reaching_time', 'star_rating', 'price', 'seats_available']
df = pd.DataFrame(results, columns=column_names)

In [16]:
df

,ID,state,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
0,1,KTCL,Pune to Goa,https://www.redbus.in/bus-tickets/pune-to-goa,Kadamba Transport Corporation Limited (KTCL) -...,A/C Sleeper (2+1),2024-07-12 19:15:00,10h 35m,2024-07-12 05:50:00,3.8,800.00,10
1,2,KTCL,Pune to Goa,https://www.redbus.in/bus-tickets/pune-to-goa,Atmaram Gobus,VE A/C Sleeper (2+1),2024-07-12 22:30:00,10h 15m,2024-07-12 08:45:00,4.6,606.00,7
2,3,KTCL,Pune to Goa,https://www.redbus.in/bus-tickets/pune-to-goa,Ashray Travels,Bharat Benz A/C Sleeper (2+1),2024-07-12 21:00:00,11h 30m,2024-07-12 08:30:00,4.6,693.00,8
3,4,KTCL,Pune to Goa,https://www.redbus.in/bus-tickets/pune-to-goa,Atmaram Gobus,VE A/C Sleeper (2+1),2024-07-12 21:00:00,10h 30m,2024-07-12 07:30:00,4.4,555.00,9
4,5,KTCL,Pune to Goa,https://www.redbus.in/bus-tickets/pune-to-goa,Ashray Vip Yellows,A/C Sleeper (2+1),2024-07-12 20:30:00,11h 30m,2024-07-12 08:00:00,4.4,648.00,16
...,...,...,...,...,...,...,...,...,...,...,...,...
11780,11781,WBTC,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,SBSTC-HABRA - DIGHA - VIA - NIBEDITA SETU - 04...,Non AC Seater (2+3),2024-07-17 04:00:00,20h 00m,2024-07-17 00:00:00,4.4,159.00,37
11781,11782,WBTC,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,SBSTC-HABRA - DIGHA - VIA - NIBEDITA SETU - 05...,Non AC Seater (2+3),2024-07-17 05:40:00,18h 20m,2024-07-17 00:00:00,4.4,159.00,26
11782,11783,WBTC,Habra to Midnapore,https://www.redbus.in/bus-tickets/habra-to-mid...,WBTC (CTC) Habra-Midnapur - 194|05:25,Non AC Seater (2+3),2024-07-17 05:25:00,04h 10m,2024-07-17 09:35:00,4.1,138.00,39
11783,11784,WBTC,Habra to Midnapore,https://www.redbus.in/bus-tickets/habra-to-mid...,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),2024-07-17 05:55:00,04h 20m,2024-07-17 10:15:00,4.1,138.00,27
11784,11785,WBTC,Habra to Midnapore,https://www.redbus.in/bus-tickets/habra-to-mid...,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),2024-07-17 06:20:00,17h 40m,2024-07-17 00:00:00,4.6,143.00,27

In [17]:
df.to_csv('redbus.csv')