In [ ]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(host = "127.0.0.1",
                               user ="root",
                               password ="Admin@123",
                               database = "red_bus",
                               )

cursor = conn.cursor()

In [ ]:
create_table_query = """CREATE TABLE bus_info_NEW (
    id INT AUTO_INCREMENT PRIMARY KEY,
    state TEXT,
    route_name TEXT,
    route_link TEXT,
    busname TEXT,
    bustype TEXT,
    departing_time DATETIME,
    duration TEXT,
    reaching_time DATETIME,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
);
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
select_query = """SELECT count(*) FROM bus_info_new ;"""

cursor.execute(select_query)
results = cursor.fetchall()

In [ ]:
results

In [ ]:
import pandas as pd
column_names = ['ID', 'state', 'route_name', 'route_link', 'busname', 'bustype', 'departing_time', 'duration', 'reaching_time', 'star_rating', 'price', 'seats_available']
df = pd.DataFrame(results, columns=column_names)

In [ ]:
df.head()

In [ ]:
df.to_csv('redbus.csv')